body > header {
  background: $header-bg;
  h1 {
    display: inline-block;
    margin: 0;
    font-size: 3em;
    padding-top: .25em;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: 0.4em 0 0 3em;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
}
